---

---

<div class="box">
    <div class="text">
        <h1>About Line</h1>
        <p>Who am I <br> What do I do for living</p>
    </div>
    <img src="white-logo.png" alt="">
</div>

<style>
    .box{
        display: flex;
        justify-content: center;
        margin-top: 5em;
    }

    .text{
        padding: 60px;
    }

    h1{
        color: white;
        font-size: 2rem;
    }

    p{
        color: white;
        font-size: 1.5rem;
    }

    img{
        width: 30%;
    }
</style>