---

---

<div class="box">
    <div class="text">
        <h1>About Line</h1>
        <p>Who am I <br> What do I do for living</p>
    </div>
    <img src="Profilbillede.jpg" alt="">
</div>

<style>
    .box{
        display: flex;
        justify-content: center;
        margin-top: 5em;
    }

    .text{
        padding: 60px;
    }

    h1{
        color: white;
        font-size: 2rem;
    }

    p{
        color: white;
        font-size: 1.5rem;
    }

    img{
        width: 30%;
    }


    @media screen and (max-width: 820px) {

        img{
            width: 45%;
        }

        h1{
            font-size: 2.5rem;
        }
    }

    @media screen and (max-width: 391px) {
        .box{
            display: flow;
            text-align: center;
            margin-top: 0;
        }

        img{
            width: 70%;
        }
    }
</style>