---

---

<div class="WebDesign">
    <div class="black">
      <div class="text">
      <h1>Grafisk Desgin</h1>
      <p>I develop and redesign <br>custom web design <br> for small businesses.</p>
      </div>
      <img src="Ashoka2.png" alt="">
    </div>
  </div>
  
  <style>
      .WebDesign{
         background-color: #0c0c0c45;
         display: flex;
         justify-content: center;
         margin-top: 5em;
      }
  
      .black{
          display: contents;
      }
  
      img{
          width: 10%;
      }
  
      h1,
      p{
          color: white;
      }
  
      p{
          font-size: 1.5rem;
      }
  
      .text{
          padding: 60px;
      }
  </style>