---

---

<h2>Hand Drawings</h2>

<div class="WebDesign">
    <div class="black">
      <div class="text">
      <h1>Sonic</h1>
      <p>Beskrivelse</p>
      </div>
      <img class="Sonic" src="PinkSonic.png" alt="" >
    </div>
</div>

  <div class="WebDesign">
    <div class="black">
      <div class="text">
      <h1>Picha</h1>
      <p>Beskrivelse</p>
      </div>
      <img class="Picha" src="Picha.png" alt="">
    </div>
  </div>

  <div class="WebDesign">
    <div class="black">
      <div class="text">
      <h1>David</h1>
      <p>Beskrivelse</p>
      </div>
      <img class="david" src="david.jpg" alt="">
    </div>
  </div>
  

  <div class="WebDesign">
    <div class="black">
      <div class="text">
      <h1>Black & White</h1>
      <p>Beskrivelse</p>
      </div>
      <img class="BlackWhite" src="Black-white-face.png" alt="">
    </div>
  </div>
  


  <style>
      .WebDesign{
         background-color: #0c0c0c45;
         display: flex;
         justify-content: center;
         margin-top: 5em;
         margin-bottom: 5em;
         padding: 30px;
      }
  
      .black{
          display: contents;
      }
  
      img{
          width: 30%;
      }
      .Sonic,
      .Picha,
      .david,
      .BlackWhite{
        width: 20%;
      }
  
      h1,
      p{
          color: white;
      }
  
      p{
          font-size: 1.5rem;
      }
  
      .text{
          padding: 25px;
  
      }

      h2{
        font-size: 5rem;
        text-align: center;
        color: white;
        margin-top: 2em;
        margin-bottom: 2em;
    }
  </style>