---

---

<div class="WebDesign">
  <div class="black">
    <div class="text">
    <h1>WebDesign</h1>
    <p>I develop and redesign <br>custom web design <br> for small businesses.</p>
    </div>
    <img src="white-logo.png" alt="">
  </div>
</div>

<style>
    .WebDesign{
       background-color: #0c0c0c45;
       display: flex;
       justify-content: center;
    }

    .black{
        display: contents;
    }

    img{
        width: 30%;
    }

    h1,
    p{
        color: white;
    }

    p{
        font-size: 1.5rem;
    }

    .text{
        padding: 20px;
        margin-top: 5em;
    }
</style>